<head><title>Comparison between Rio-Haghen's Adiabatic Analysis and cl-stirling-engine</title>

</head>

<body>

<table cellspacing="1" border="1">
<tr>
  <td>Parameter
  <td><a href=http://jordaan.info/greengasoline/stirlingrios.html>Rio-Haghen</a>, parameters changed for 1 cylinder, changed source <a href=https://bitbucket.org/budden/cl-stirling-engine/src/f9f4dc5b70e6a31e50334aa89d03abac11a81af4/m/haghen/gm_4l23/gm_4l23.bas?at=GM4L23>here</a>
  <td><a href=https://bitbucket.org/budden/cl-stirling-engine>cl-stirling-engine</a>, tag GM4L23<td>comment
<tr><td>frequency<td colspan=3>50Hz = 1500RPM
<tr><td>THeater<td colspan=3>1033K = 1400F = 760C
<tr><td>Total dead volume.cm3
 <td>628<td>634<td>Ok
<tr><td>Min cold space
 <td>238<td>238<td>Ok
<tr><td>Max cold space
 <td>554<td>555<td>Ok
<tr><td>Min hot space
 <td>266<td>280<td>Hot cap gap is treated differently
<tr><td>Max hot space
 <td>643<td>658<td>Hot cap gap is treated differently
<tr><td>Regen dead volume
 <td>115<td>115<td>Ok
<tr><td>Windage loss, Heater
 <td>74<td>203<td>This is bad, turbulent flow formulas must match
<tr><td>Windage loss, Regen
 <td>1031<td>273<td>I don't know the reason
<tr><td>Windage loss, Cooler
 <td>476<td>241<td>This is bad, turbulent flow formulas must match
<tr><td>Pumping loss
 <td>559<td>0<td>Not calculated in cl-stirling-engine
<tr><td>Shuttle loss
 <td>581<td>723<td>Different formulas and different geometry
<tr><td>Average pressure
 <td>17.9<td>17.9<td>Initial pressure in cl-stirling-engine was changed to fit.
<tr><td>Min pressure
 <td>13.0<td>12.2<td>May be caused by different definition of average.
<tr><td>MaxPressure
 <td>23.9<td>23.5<td>May be caused by non-isothermal character of heat exchangers or different volume laws
<tr><td>Conduction loss
 <td>2420<td>1640<td>Ad hoc vs formula, let it be ok as difference is 800W of heat only. 
<tr><td>Power,kW
 <td>41.8<td>43.9<td>mismatch &lt10% . <a href=http://jordaan.info/greengasoline/GM4L23test.html>Real engine test</a> gives 29.8kW (value for 1400,1500,2600) that is, 68% of cl-stirling-engine value
<tr><td>Efficiency
 <td>54.4%<td>40.4%<td>significant mismatch. Real engine test yields 31.2% brake efficiency, that is, 77% of cl-stirling-engine value
</table>

</html>